[Unit]
After=display-manager.service

[Service]
ExecStart=
ExecStart=/usr/bin/x11vnc -forever -display :0 -no6 -rfbport 5900 -auth guess
Restart=always

[Install]
WantedBy=graphical.target
